#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     65536 
    user        haproxy
    group       haproxy
    nbproc 1
    ulimit-n 231097
    tune.ssl.default-dh-param 1024
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats


defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option  forwardfor
        retries 3
        option redispatch
        maxconn 65535
        timeout connect 5s
        timeout client 5m
        timeout server 5m
        timeout check   1s
        timeout http-request    10s
        timeout http-keep-alive 10s

listen Stats *:10000
  mode http
  stats enable
  stats uri /
  stats refresh 15s
  stats show-node
  stats show-legends
  stats hide-version

