[DEFAULT]
verbose = True
core_plugin = ml2
service_plugins = router,firewall,lbaas,vpnaas
auth_strategy = keystone
allow_overlapping_ips = True 
rpc_backend=rabbit
dhcp_lease_duration = -1
[matchmaker_redis]
[matchmaker_ring]
[quotas]
[agent]
report_interval = 15
[keystone_authtoken]
auth_uri = http://10.142.50.233:5000
auth_url = http://10.142.50.233:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = neutron
password = ddc3b19854ca27ccd252 
[database]
[nova]
[oslo_concurrency]
lock_path = $state_path/lock
[oslo_policy]
[oslo_messaging_amqp]
[oslo_messaging_qpid]
[oslo_messaging_rabbit]
rabbit_hosts = 10.142.50.19:5672,10.142.50.6:5672,10.142.50.7:5672
rabbit_use_ssl = False
rabbit_userid = nova 
rabbit_password = c38495e63f38cc7c41f0 
rabbit_virtual_host = /
rabbit_ha_queues = True
