global
  daemon

defaults
  mode http
  maxconn 10000
  timeout connect 10s
  timeout client 10s
  timeout server 10s

frontend keystone-admin-vip
    bind <KEYSTONE_VIP>:35357
    default_backend keystone-admin-api

frontend keystone-public-vip
    bind <KEYSTONE_VIP>:5000
    default_backend keystone-public-api

backend keystone-admin-api
    balance roundrobin
    server keystone-01 192.168.147.5:35357 check inter 10s
    server keystone-02 192.168.147.6:35357 check inter 10s

backend keystone-public-api
    balance roundrobin
    server keystone-01 192.168.147.5:5000 check inter 10s
    server keystone-02 192.168.147.6:5000 check inter 10s
    
    